<% var data={ title: "MAIN" , author: "" }; %>
  <%= _.template(require('../includes/head.html').default)(data) %>
    <%= _.template(require('../includes/header.html').default)(data) %>
      <main>

        <div class="breadcrumbs">
          <div class="container">
            <div class="breadcrumbs__items">
              <ul>
                <li><a href="/"><span>Главная страница</span></a></li>
                <li><span>О нас</span></li>
              </ul>
            </div>
            <!-- /.breadcrumbs__items -->
          </div>
          <!-- /.container -->
        </div>
        <!-- /.breadcrumbs -->

        <div class="pageabout">
          <div class="pageabout__content">
            <div class="container">
              <div class="pageabout__title">
                <span class="orange">«Камчатские Морепродукты»</span> - это не просто магазины, это наша страсть к
                качественной и вкусной рыбной продукции!
              </div><!-- /.pageabout__title -->
              <div class="text text_large">
                <p>Вот уже более 6 лет мы предлагаем широкий ассортимент морепродуктов,икры,рыбы, полуфабрикатов и
                  готовой рыбной продукции. </p>
                <p>Мы –это компания, которая заботится о качестве продукции и удобстве покупателей. Наша команда
                  специалистов тщательно отбирает только лучшие продукты, сотрудничая с проверенными поставщиками. Вы
                  можете быть уверены, что все продукты, которые вы найдете на полках наших магазинов, будут свежими и
                  экологически чистыми. Мы применяем строгий контроль качества каждой поставляемой партии, чтобы
                  исключить продажу товаров сомнительного качества.</p>
              </div><!-- /.text -->

             

            </div><!-- /.container -->
          </div><!-- /.pageabout__content -->
          <div class="pageblocksl ">
            <div class="container">
              <div class="seoblock">
                <div class="seoblock__wrapper">
                  <div class="seoblock__items seoblock__items_center sseoblock__item_typenumber2222">
                    <div class="sseoblock__item seoblock__left">
                      <div class="seoblock__image">
                        <div class="seoblock__img" style="background-image: url(img/seo1.png);"></div>
                        <!-- /.seoblock__img -->
                      </div><!-- /.seoblock__image -->
                    </div><!-- /.seoblock__left -->
                    <div class="seoblock__item seoblock__right">
                      <div class="seoblock__content">
                    
                        <div class="seoblock__text text_bigger">
                          <p>В наших магазинах вы найдете широкий ассортимент рыбы, которая заморожена с помощью новой технологии- шоковой заморозки. Такая технология позволяет сохранить <span class='orange'>сочность</span>  и <span class='orange'>свежесть продукции</span> .
                          </p>
                        </div><!-- /.seoblock__text -->
                      </div><!-- /.seoblock__content -->
                      
                    </div><!-- /.seoblock__right -->
                  </div><!-- /.seoblock__items -->
                </div><!-- /.seoblock__wrapper -->
              </div><!-- /.seoblock -->
            </div>
          </div>
            <div class="container">
              <div class="seoblock">
                <div class="seoblock__wrapper">
                  <div class="seoblock__items  sseoblock__item_typenumber3333">
                    <div class="sseoblock__item seoblock__left ">
                      <div class="seoblock__content">
                    
                        <div class="seoblock__text text_lg">
                          <p>Наша компания стремится удовлетворить запросы каждого клиента, поэтому мы расширяем ассортимент, прислушиваемся к вашему мнению и улучшаем сервис.</span> 
                          </p>
                        </div><!-- /.seoblock__text -->
                        <div class="seoblock__text text_gray">
                          <p>Чтобы наши товары были доступны наибольшему числу покупателей, мы регулярно проводим акции и внедрили программу лояльности, которая позволяет экономить нашим клиентам до 20% бонусами с каждой покупки.</span> .
                          </p>
                        </div><!-- /.seoblock__text -->
                      </div><!-- /.seoblock__content -->
                    </div><!-- /.seoblock__left -->
                    <div class="seoblock__item seoblock__right">
                      <div class="seoblock__content">
                        <div class="cashback">
                          <div class="cashback__wrapper">
                            <div class="cashback__title">С первой покупки каждый клиент получает  <br>
                              <span class='mark'>30%</span>   кешбэка. </div><!-- /.cashback__title -->
                            <div class="cashback__text">С каждого последующего заказа возвращаем от 3% до 10%.</div><!-- /.cashback__text -->
                            <div class="cashback__value">1 бонус = 1 рублю.</div><!-- /.cashback__value -->
                          </div><!-- /.cashback__wrapper -->
                        </div><!-- /.cashback -->
                      
                      </div><!-- /.seoblock__content -->
                      
                    </div><!-- /.seoblock__right -->
                  </div><!-- /.seoblock__items -->
                </div><!-- /.seoblock__wrapper -->
              </div><!-- /.seoblock -->
            </div>

          <div class="pageblocksl pageblocksl_small">
            <div class="linebanner">
              <div class="container">
                <div class="linebanner__wrapper">
                  <div class="linebanner__content">
                    <div class="linebanner__logo">
                      <img src="img/linebanner.svg" alt="">
                    </div><!-- /.linebanner__logo -->
                    <div class="linebanner__text">Покупайте морепродукты, икру и рыбу в «Камчатских Морепродуктах» и получайте <br> замечательный сервис и качественные продукты!</div><!-- /.linebanner__text -->
                  </div><!-- /.linebanner__content -->
                </div><!-- /.linebanner__wrapper -->
              </div><!-- /.cotanier -->
            </div><!-- /.promobanner -->
          </div><!-- /.pageblocksl -->


          <div class="fullgallery">
            <div class="fullgallery__container">
              <div class="fullgallery__slider" data-slider='fullgallery'>
                <div class="fullgallery__slide">
                  <a href="img/fullgallery1.png" data-lightbox='fullgallery' class="fullgallery__item">
                    <img src="img/fullgallery1.png" alt="">
                  </a><!-- /.fullgallery__item -->
                </div><!-- /.fullgallery__slide -->
                <div class="fullgallery__slide">
                  <a href="img/fullgallery2.png" data-lightbox='fullgallery' class="fullgallery__item">
                    <img src="img/fullgallery2.png" alt="">
                  </a><!-- /.fullgallery__item -->
                </div><!-- /.fullgallery__slide -->
                <div class="fullgallery__slide">
                  <a href="img/fullgallery3.png" data-lightbox='fullgallery' class="fullgallery__item">
                    <img src="img/fullgallery3.png" alt="">
                  </a><!-- /.fullgallery__item -->
                </div><!-- /.fullgallery__slide -->
           
                </div><!-- /.fullgallery__slide -->
              </div><!-- /.fullgallery__slider -->
            </div><!-- /.fullgallery__container -->
          </div><!-- /.fullgallery -->

        </div><!-- /.pageabout -->


      </main>
      <%= _.template(require('../includes/footer.html').default)(data) %>